/* BUTTONS */

.button {
    background-color: var(--buttonBackground);
    border-color: var(--border);
    border-style: solid;
    border-width: 1px;
    color: var(--buttonForeground);
    cursor: pointer;
    display: inline-block;
    font-family: "Gilroy";
    font-size: 20px;
    font-weight: bold;
    height: 40px;
    margin-top: -1px;
    padding: 10px;
    text-align: left;
    transition: all 0.25s;
    width: 170px;
}

.button i {
    font-size: 40px;
    padding-bottom: 2px;
    text-align: center;
    vertical-align: middle;
    width: 50px;
}

.small-button {
    background-color: var(--buttonBackground);
    border-color: var(--border);
    border-style: solid;
    border-width: 1px;
    color: var(--buttonForeground);
    cursor: pointer;
    display: inline-block;
    font-family: "Gilroy";
    font-size: 16px;
    font-weight: bold;
    height: 20px;
    margin-top: 5px;
    padding: 5px;
    text-align: center;
    transition: all 0.25s;
    width: 100px;
}

.small-button i {
    font-size: 20px;
    padding-bottom: 2px;
    text-align: center;
    vertical-align: middle;
    width: 25px;
}

.button:hover,
.small-button:hover,
#x-num:hover {
    background-color: var(--buttonHighlight);
}

#close,
.alert-button,
.config-button {
    border-color: var(--border);
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    font-family: "Inconsolata";
    height: 16px!important;
    margin-top: 409px;
    padding: 0!important;
    position: absolute;
    text-align: center;
    transition: 0.25s all;
    width: 16px!important;
}

#close {
    font-size: initial;
    margin-left: 299px;
    margin-top: -16px;
}

.alert-button {
    background-color: transparent;
    color: var(--weatherBoxForeground);
    font-family: "Roboto";
    font-size: 14px;
    margin-left: 153px;
    margin-top: -5px;
    position: absolute;
}

.config-button {
    background-color: transparent;
    border: none;
    border: none;
    color: var(--buttonForeground);
    font-family: "Roboto";
    font-size: 14px;
    position: absolute;
    right: 10px;
    text-shadow: none;
    text-shadow: none;
    top: -400px;
    transition: 0.25s all;
    transition: 0.25s all;
}

#close:hover,
.alert-button:hover {
    background-color: var(--buttonHighlight);
}

.config-button:hover {
    transform: rotate(45deg);
}


/* UI COMPONENTS */

hr {
    border: none;
    border-top: 1px solid var(--border);
    height: 0;
}

.inline-link {
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    line-height: inherit;
}

.inline-link:before {
    border-bottom: 1px solid;
}

label {
    clear: left;
    display: inline-block;
    font-size: 14px;
    margin-right: 20px;
    text-align: right;
    width: 130px;
}

.section-head {
    font-family: "Gilroy";
    font-size: 20px;
    line-height: 40px;
    text-decoration: underline;
}

.subsection-head {
    font-family: "Gilroy";
    font-size: 16px;
    line-height: 40px;
    text-decoration: underline;
}

#version-info {
    color: var(--foreground);
    font-family: "Gilroy";
    height: 40px;
    left: 0;
    padding: 10px;
    position: absolute;
    text-align: center;
    width: 172px;
}


/* INPUTS */

input,
select {
    background-color: var(--background);
    border: 1px solid var(--foreground);
    color: var(--foreground);
    display: inline-block;
    font-family: "Roboto";
    margin-bottom: 5px;
    max-width: 300px;
    width: 176px;
}

input[type=color],
select {
    width: 182px;
}

input[type=color] {
    margin-left: 0px;
}

select {
    margin-left: -4.5px;
}

::selection {
    background-color: var(--highlight);
}

input[type=checkbox] {
    width: auto;
}

input[type=range] {
    transform: translateY(4px);
    width: 140px;
}