/* FONT DECLARATIONS */

@font-face {
    font-family: "Gilroy";
    src: url("font/Gilroy-ExtraBold.otf");
}

@font-face {
    font-family: "Gilroy Light";
    src: url("font/Gilroy-Light.otf");
}

@font-face {
    font-family: "Roboto";
    src: url("font/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Inconsolata";
    src: url("font/Inconsolata-Regular.ttf");
}

@font-face {
    font-family: "Camaraderie";
    src: url("font/Camaraderie.otf");
}


/* GENERAL RULES */

html {
    height: -webkit-fill-available;
    overflow-x: hidden;
}

body {
    /* filter: blur(25px); */
    transition: 1s filter ease;
    background-attachment: fixed;
    /* background-image: var(--backgroundImage); */
    background-image: none;
    background-color: var(--background);
    background-position-x: center;
    background-size: cover;
    height: -webkit-fill-available;
    margin: 0;
    text-align: center;
}

#main {
    transition: 0.5s filter ease, 0.25s background-color, 0.25s border-color, 0.25s color;
}


/* HEADER: DATE AND TIME */

#header {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: var(--headerBackground);
    border-bottom: 1px solid var(--border);
    box-shadow: var(--shadow-color) 0 0 10px;
    min-height: 100px;
    position: fixed;
    text-align: center;
    text-shadow: 0 2px 3px var(--shadow-color);
    transition: 0.5s filter ease, 0.5s backdrop-filter ease, 0.5s -webkit-backdrop-filter ease, 0.25s background-color, 0.25s border-color, 0.25s color;
    width: 100%;
    z-index: 100;
}

#header.no-shadow {
    text-shadow: none;
}

#time {
    color: var(--headerForeground);
    font-family: "Gilroy";
    font-size: 5em;
    line-height: 0.8em;
    position: relative;
    top: 8px;
}

#date {
    color: var(--headerForeground);
    font-family: "Gilroy Light";
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.5em;
    margin-top: 5px;
}


/* LINK BOXES */

.link-box {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: var(--linkBoxBackground);
    border-radius: var(--borderRadius);
    border: 1px solid var(--border);
    box-shadow: var(--shadow-color) 0 0 10px;
    color: var(--linkBoxForeground);
    font-family: "Roboto";
    font-size: 15px;
    overflow: hidden;
    transition: 0.1s ease all;
    width: 170px;
}

.link {
    border-color: var(--linkBoxForeground);
    border-style: solid;
    border-width: 0;
    color: var(--linkBoxForeground);
    cursor: pointer;
    font-family: "Gilroy Light";
    font-size: 18px;
    font-weight: bold;
    height: 50px;
    line-height: 45px;
    position: sticky;
    text-decoration: none;
}

.link:before {
    border-bottom: 2px solid;
    bottom: 0;
    content: "";
    height: 2px !important;
    left: 0;
    position: absolute;
    transition: all 0.1s;
    width: 0;
    z-index: -1;
}

.link:hover:before {
    visibility: visible;
    width: calc(100% + 1px);
}

.search-container {
    background-color: var(--linkBoxBackground);
    border-radius: var(--borderRadius);
    border: 1px solid var(--border);
    box-shadow: var(--shadow-color) 0 0 10px;
    color: var(--linkBoxForeground);
    font-family: "Roboto";
    font-size: 15px;
    left: calc(50% - 200px);
    overflow: hidden;
    position: absolute;
    right: calc(50% - 200px);
    text-align: center;
    top: 400px;
    transition: 0.1s ease all;
    width: 400px;
    display: flex;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

#search-input {
    border-color: var(--linkBoxForeground);
    border-style: solid;
    border-width: 0;
    color: var(--foreground);
    font-family: "Roboto";
    font-size: 16px;
    height: 28px;
    margin: 0;
    padding-left: 5px;
    padding-right: 32px;
    width: 100%;
    max-width: unset;
    background: transparent;
}

#search-button {
    background: transparent;
    border-color: var(--linkBoxForeground);
    border-style: solid;
    border-width: 0;
    color: var(--linkBoxForeground);
    font-family: "Roboto";
    font-size: 24px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    width: 32px;
    height: 32px;
    margin-right: 3px;
}

.group {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}


.group#links-todo-group {
    /* left: calc(50% - 85px); */
    /* overflow: hidden; */
    position: absolute;
    /* right: calc(50% - 85px); */
    top: 500px;
}

/* TODO LIST */
.todo-container {
    background-color: var(--todoBackground);
    border-radius: var(--borderRadius);
    border: 1px solid var(--border);
    box-shadow: var(--shadow-color) 0px 0 10px;
    color: var(--todoForeground);
    height: 182px;
    width: 341px;
    /* position: absolute; */
    /* margin-top: 243px; */
    text-align: left;
    
    width: 400px;
    height: 270px;
    margin-left: 30px;
    display: flex;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    flex-direction: column;
}

.todo-header {
    font-family: "Gilroy";
    font-size: 24px;
    border-bottom: 1px solid var(--border);
    padding: 5px 5px 5px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.todo-content {
    overflow-x: hidden;
    overflow-y: scroll;
}


.todo-content::-webkit-scrollbar {
    width: 0;
    visibility: hidden!important;
    display: none!important;
}

.event {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.eventHead {
    text-align: left;
    font-size: 24px;
    padding: 0 5px 0 5px;
    font-family: "Gilroy";
    font-weight: bold;
    text-decoration: underline;
}

.eventDate, .eventBody {
    text-align: left;
    font-size: 16px;
    font-family: "Roboto";
    padding: 0 5px 0 10px;
    display: flex;
    justify-content: space-between;
}

.eventBody {
    font-style: italic;
    font-family: "Gilroy Light";
}

.event-left, .event-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.event-left {
    flex-basis: 95%;
}

.event-right {
    flex-basis: 5%;
}

.eventDelete {
    /* position: absolute; */
    /* display: block; */
    /* border: 1px solid var(--border); */
    right: 0;
    cursor: pointer;
    transition: 0.25s all;
}

.eventDelete:hover {
    color: #dd0000;
}

#eventDate,
#eventTime {
    width: auto;
}
