/* MODAL DIALOGS */

.modal {
    display: none;
    filter: blur(5px);
    height: 100%;
    left: 0;
    overflow: hidden;
    padding-top: 100px;
    position: fixed;
    text-align: center;
    top: 0;
    transition: 0.5s filter;
    width: 100%;
    z-index: 10000002;
}

.modal-content {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: var(--modalBackground);
    border-radius: var(--borderRadius);
    border: 1px solid var(--border);
    box-shadow: black 0px 2px 10px, black 0px -2px 10px;
    display: inline-block;
    overflow-x: hidden;
    padding: 0;
    position: relative;
    text-align: left;
    transition: all 0.5s;
    width: 500px;
}

.modal-header {
    border-bottom: 1px solid var(--border);
    color: var(--modalForeground);
    font-family: "Gilroy";
    font-size: 36px;
    font-weight: bold;
    font-weight: bold;
    padding: 15px 15px 15px 15px;
}

.modal-body {
    color: var(--modalForeground);
    display: inline-block;
    font-family: "Roboto";
    font-size: 18px;
    margin: 0% 10% 0% 10%;
    padding: 15px 0 5px 0;
    width: -webkit-fill-available;
}

.modal-footer {
    border-top: 1px solid var(--border);
    color: var(--modalForeground);
    padding: 10px;
    text-align: right;
}

.config-subgroup,
.link-group {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    font-size: 14px;
}

.link-group {
    display: none;
}


/* WEATHER ALERT MODALS */

.alert-modal .modal-content {
    min-width: 600px;
    width: 50%;
    height: 70%;
}


/* Hidden time format documentation section */

#time-docs {
    border-bottom: 1px solid var(--border);
    border-left: 1px solid var(--border);
    border-radius: 0 0 0 var(--borderRadius);
    display: none;
}

#time-docs-clickable {
    cursor: pointer;
    text-decoration: none;
    font-style: italic;
}

#time-docs-clickable:hover {
    text-decoration: underline;
}

.modal#config-window .modal-content {
    overflow: hidden;
}