/* We import the sample colours here, these are our fallback 
if no pywal colours exist.*/


/* @import url('sample-colors.css'); */


/* FONT DECLARATIONS */

@font-face {
    font-family: "Gilroy";
    src: url("Gilroy-ExtraBold.otf");
}

@font-face {
    font-family: "Gilroy Light";
    src: url("Gilroy-Light.otf");
}

@font-face {
    font-family: "Roboto";
    src: url("Roboto-Regular.ttf");
}

@font-face {
    font-family: "Inconsolata";
    src: url("Inconsolata-Regular.ttf");
}

@font-face {
    font-family: "Camaraderie";
    src: url("Camaraderie.otf");
}


/* GENERAL RULES */

html {
    transition: 1s filter ease;
    filter: blur(25px);
    height: -webkit-fill-available;
}

body {
    background-image: var(--backgroundImage);
    background-position-x: var(--backgroundImagePositionX);
    /* background: linear-gradient(90deg, rgba(89, 193, 115, 1) 0%, rgba(161, 127, 224, 1) 62%, rgba(110, 76, 172, 1) 100%); */
    text-align: center;
    margin: 0;
    transition: 0.5s filter ease, 0.25s background-color, 0.25s border-color, 0.25s color;
    height: -webkit-fill-available;
}

#main {
    transition: 0.5s filter ease, 0.25s background-color, 0.25s border-color, 0.25s color;
}


/* HEADER: DATE AND TIME */

#header {
    text-align: center;
    width: 100%;
    border-bottom: 1px solid var(--border);
    position: fixed;
    background-color: transparent;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 100;
    text-shadow: 1px 2px 3px black, -1px 2px 3px black;
    box-shadow: black 0px 2px 10px, black 0px -2px 10px;
    transition: 0.5s filter ease, 0.5s backdrop-filter ease, 0.5s -webkit-backdrop-filter ease, 0.25s background-color, 0.25s border-color, 0.25s color;
}

#time {
    position: relative;
    font-size: 5em;
    line-height: 0.8em;
    top: 8px;
    font-family: "Gilroy ExtraBold";
    color: var(--headerTextForeground);
}

#date {
    font-family: "Gilroy Light";
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 5px;
    line-height: 1.5em;
    color: var(--headerTextForeground);
}


/* WEATHER BOXES */

.weather-icon {
    width: inherit;
    border-bottom: 1px solid var(--border);
    padding-top: 5px;
    padding-bottom: 5px;
}

#temperature {
    text-align: left;
    font-size: 22px;
    padding: 0 5px 0px 5px;
    font-family: "Gilroy";
    font-weight: bold;
}

#temperature {
    margin-top: -2px
}

#weather-1 {
    left: 25%;
}

#weather-2 {
    right: 25%;
}

.link-box {
    border: 1px solid var(--border);
    border-radius: var(--borderRadius);
    background-color: var(--linkBoxBackground);
    color: var(--linkBoxForeground);
    width: 170px;
    text-align: center;
    box-shadow: black 0px 2px 10px, black 0px -2px 10px;
    font-family: "Roboto";
    font-size: 15px;
    position: absolute;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    transition: 0.1s ease all;
    overflow: hidden;
    left: calc(50% - 85px);
    right: calc(50% - 85px);
    top: 450px;
}

.link {
    color: var(--linkBoxForeground);
    font-weight: bold;
    text-decoration: none;
    border-style: solid;
    border-color: var(--linkBoxForeground);
    border-width: 0;
    position: sticky;
    cursor: pointer;
    height: 50px;
    font-size: 18px;
    line-height: 45px;
    font-family: "Gilroy Light";
}

.link:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px !important;
    bottom: 0;
    left: 0;
    border-bottom: 2px solid;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
    /* box-shadow: black 0px 2px 5px; */
    z-index: -1;
}

.link:hover:before {
    visibility: visible;
    width: calc(100% + 1px);
}

.weather-container {
    border: 1px solid var(--border);
    border-radius: var(--borderRadius);
    /* display: inline-block; */
    background-color: var(--weatherBoxBackground);
    color: var(--weatherBoxForeground);
    width: 170px;
    text-align: left;
    min-height: 182px;
    max-height: 182px;
    overflow: hidden;
    transition: 0.1s ease all;
    font-family: "Roboto";
    font-size: 15px;
    box-shadow: black 0px 2px 10px, black 0px -2px 10px;
    position: absolute;
    top: 150px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.weather-container:hover {
    min-height: 243px;
}

.weather-container:hover~.gap {
    height: 0px;
}

.weather-container span,
#todo-container span {
    padding: 0 0 2px 5px;
    display: inline-block;
    width: 95%;
}

.weather-name {
    font-weight: bold;
}

#conditions {
    height: 35px;
    display: table-cell;
    vertical-align: middle;
}

.arrow {
    font-size: 16px;
    font-weight: normal;
    font-family: "Inconsolata";
}